@import 'variables';

@keyframes mainContainerAnimation {
  0% {
    opacity: 0.1;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pageHeadingAnimation {
  0% {
    transform: translateY(-100%);
    opacity: 0.1;
  }
  25% {
    transform: translateY(-75%);
    opacity: 0.25;
  }
  50% {
    transform: translateY(-50%);
    opacity: 0.5;
  }
  75% {
    transform: translateY(-25%);
    opacity: 0.75;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
  }
}
@keyframes background {
  0% {
  background-color: $primary;
  }
  50% {
    background-color: $secondary;
  }
  100% {
    background-color: $bgcolor;
  }
}