@import 'variables';
@import 'round-corners';
input,
textarea,
select,
button {
  @extend .border-radius-full;
  background-color: $light;
  border: 1px solid $primary;
  color: $dark;
  padding: .9em;
  resize: none;
  background-color: $light1;
  box-shadow: 0px 1px 2px $primary;
  &.invalid {
    border: 1px solid $danger;
    box-shadow: 0px 1px 2px $danger;
  }
}
.validation-error-message {
  color: $danger;
  margin: .2em 0;
  font-size: .8em;
}

label {
  color: $dark;
  font-size: .9em;
  margin: 0 0 .2em .1em;
}

button {
  background-color: $primary;
  box-shadow: 0px 2px 2px $secondary;
  color: $light;
  padding: .5em 1em;
  cursor: pointer;
  font-size: 1.2em;
  justify-self: start;
  &:hover {
    opacity: .9;
  }
}

form {
  display: grid;
}

.form-group {
  display: grid;
  grid-template-rows: 50% 50%;
  margin: 1em 0 0 0;
}
