@import 'reset.scss';
@import 'variables.scss';

@media screen and (max-width: $media-max-width) {
  body {
    background-color: $bgcolor;
    font-family: $fontFamily;
  }
  .main-container {
    width: 90vw;
    height: 100vh;
    margin: 5vh 5vw 5vh 5vw;
    background-color: $light;
    border-radius: $border-radius;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 30% 50%;
    grid-template-areas:
    "header"
    "sidebar"
    "content";
  }
}

@media screen and (min-width: $media-min-width) {
  body {
    background-color: $bgcolor;
    font-family: $fontFamily;
  }
  
  .main-container {
    width: 60vw;
    height: 100vh;
    margin: 0 20vw;
    background-color: $light;
    border-radius: $border-radius;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 30% 70%;
    grid-template-areas:
    "header header"
    "content sidebar";
  }
}
