@import 'reset';
@import 'variables';

// mobile
@media screen and (max-width: $media-max-width) {}
// desktop
@media screen and (min-width: $media-min-width) {}

html {
  height: 100%;
}

body {
  background-color: $bgcolor;
  font-family: $fontFamily;
  color: $dark;
}

.main-container {
  @extend .border-radius-bottom;
  width: 60vw;
  height: auto;
  min-height: 100vh;
  margin: 0 20vw;
  background-color: $light;
  box-shadow: 0px 2px 5px $dark;
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 100px auto;
  grid-template-areas:
  "header header"
  "content sidebar";
  .content {
    grid-area: content;
    margin: 1em;
    height: 100%;
    h1 {
      background: $secondary;
      color: $light;
      text-align: center;
      padding: 1em;
      box-shadow: 0px 2px 5px $primary;
      text-shadow: 0px 2px 2px $primary;
      text-transform: uppercase;
      animation: pageHeadingAnimation $fast-animation-speed forwards 0s linear;
    }
  }
  animation: mainContainerAnimation .75s forwards 0s linear;
}

// progress bars
$progressbar-bar-background: $primary;
$progressbar-background: $bgcolor;
@import "./node_modules/vue-progressbar-component/src/scss/progressbar";

// animations
@import 'animations';