// fontawesome
@import url('https://use.fontawesome.com/releases/v5.0.13/css/all.css');

// fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700|Rock+Salt');
$titleFontFamily: 'Rock Salt', cursive;
$fontFamily: 'Roboto', sans-serif;

// mediaqueries
$media-max-width: 600px;
$media-min-width: 601px;

// theme
@import 'themes/slate';

// animations
$fast-animation-speed: .5s;

// other
$border-radius: 0px;