@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700|Rock+Salt');

$titleFontFamily: 'Rock Salt', cursive;
$fontFamily: 'Roboto', sans-serif;

$border-radius: 20px;

$bgcolor:   #8BB0BA;
$dark:      #001A1C;
$light:     #E3E1E1;
$primary:   #135C27;
$secondary: #78A85D;

$media-max-width: 600px;
$media-min-width: 601px;